<div class="area-login-background d nome d-md-block">
</div>
<div class="area-form">
    <form>
        <h1 class="titulo">Sistema Acadêmico</h1>
        <h2 class="subtitulo">Unimar - Universidade de Marilia</h2>

        <input class="input-form" type="text" placeholder="Digite seu nome" [(ngModel)]="usuario" name="usuario">

        <button class="w-100" mat-flat-button (click)="login()">Acessar</button>
    </form>        

    <p class="footer">© 2025 | Desenvolvido por Júlia Souza</p>
</div>
